<div class="hero-unit">
    <div class="row">            
        <div class="span12">
            <div class="row">
                <div class="span6 intro">
                    <div class="leader">
                        <a href="/" id="logo"></a>
                        <h1><a href="/">Ao<br />Zhu</a></h1>    
                        <p>Technology blog about stuff I experienced!</p>
                    </div>
                </div>
                <div class="span5 stay-updated">
                    <!-- <div id="twitter-status" class="well">
                        <i class=icon-twitter></i>
                        <div id="tweet"></div>
                        <a href="//weibo.com">Follow @朱傲oo &raquo;</a>
                    </div>                     -->
                </div>                        
            </div>{% include header/newer-older.html %}
        </div>
    </div>
</div>
